*{
    margin: 0;
    padding: 0;
}

.navbar {
    margin: auto;
    width: 80vw;
    height: 15vh;

    background: rgba(95,48,248,1);
    background: -moz-linear-gradient(-45deg, rgba(95,48,248,1) 0%, rgba(123,91,241,1) 50%, rgba(60,14,246,1) 51%, rgba(68,25,240,1) 71%, rgba(71,39,231,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(95,48,248,1)), color-stop(50%, rgba(123,91,241,1)), color-stop(51%, rgba(60,14,246,1)), color-stop(71%, rgba(68,25,240,1)), color-stop(100%, rgba(71,39,231,1)));
    background: -webkit-linear-gradient(-45deg, rgba(95,48,248,1) 0%, rgba(123,91,241,1) 50%, rgba(60,14,246,1) 51%, rgba(68,25,240,1) 71%, rgba(71,39,231,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(95,48,248,1) 0%, rgba(123,91,241,1) 50%, rgba(60,14,246,1) 51%, rgba(68,25,240,1) 71%, rgba(71,39,231,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(95,48,248,1) 0%, rgba(123,91,241,1) 50%, rgba(60,14,246,1) 51%, rgba(68,25,240,1) 71%, rgba(71,39,231,1) 100%);
    background: linear-gradient(135deg, rgba(95,48,248,1) 0%, rgba(123,91,241,1) 50%, rgba(60,14,246,1) 51%, rgba(68,25,240,1) 71%, rgba(71,39,231,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f30f8', endColorstr='#4727e7', GradientType=1 );
}

.centrar {
    margin: auto;
    width: 70vw;
    padding: 3vh;
    height: 6vh; 
}

.bloques{
    margin: auto;
    width: 70vw;
    height: 6vh;
  
}

.Vacia {
    width: 100%;
    height: 2vh;
}

.menu{
    position: absolute;
    margin: auto;
    width: 70%;
    height: 4vh; 
}

.block {
    display: inline-block;
    margin-right: 3vw;
    font-family: 'dubai';
    font-size: 18px;
    color: rgba(240, 248, 255, 0.815);
    cursor: pointer;
}

.block:hover{
    color: white;
}

.usuario {
    margin-left: 20vw;
    font-family: 'dubai';
    font-size: 18px;
    color: rgba(240, 248, 255, 0.712);
}

.cerrar {
    float: right;
    margin-right: 5vw;
    font-family: 'dubai';
    font-size: 18px;
    color: rgba(240, 248, 255, 0.712);
    cursor: pointer;
}

.cerrar:hover{
    color: white;
}

.inicio{
    text-align: center;
}

.cajaCentrar {
    width: 100%;
    height: 27vh;  
}

.bienvenido {
    text-align: center;
    font-family: 'dubai light';
    font-size: 10vw;
    color: rgba(67, 69, 70, 0.692);
}

a:link{
    text-decoration: none !important;
}
