{% extends "home.html" %} {% load static %} {% block contenido %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery LinedTextDiv Plugin Demo</title>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{% static 'js/linedTextEditor-jquery.js' %}"></script>
    <link href="{% static 'css/linedTextEditor-jquery.css' %}" type="text/css" rel="stylesheet" />
    <style>
        html {
            min-height: 45vh;
        }

        body {
            font-family: 'Orbitron';
        }
    </style>
</head>

<body>
    <div class="fondo">
        <div class="barra"></div>
        <div class="barraNavbar">
            <div class="centrarNavbar">
                <div class="fbuscar">
                    <input type="text" class="buscar">
                    <button class="icono">
                        <img src="../static/img/lupa.png" alt="">
                    </button>
                </div>
                <select name="hall" id="hall" value="3" class="lenguaje">
                    <option>------ lenguajes ------</option>
                    <option>Python</option>
                    <option>Java</option>
                    <option>C++</option>
                    <option>C#</option>
                    <option>PHP</option>
                </select>
                <button class="descargar">
                    <img src="../static/img/descarga.png" alt="">
                </button>
                <button class="descargar">
                    <img src="../static/img/subir.png" alt="">
                </button>
                <button class="ejecutar">
                    <img src="../static/img/ejecutar.png" alt="">
                </button>
            </div>

        </div>

    </div>
    <div class="compiler">
        <div class="compilerCenter">
            <div class="fondoCompiler">
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                <pre class="lined"></pre>
                <input type="text" class="consola" value="consola>>">
            </div>
        </div>

    </div>


    <script>
        $(function () {
            $(".lined").linedTextEditor();
        });
    </script>
</body>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

</html>


{% endblock %}