{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styleRegistro.css' %}">
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <title> {% block tittle %} Registro {% endblock %}</title>
</head>

<body>
    <div class="bloqueIzquierdo">
            <div class="cajaVacia"></div>
            <div class="cajaRegistro">
                    <div class="cajaVacia"></div>
                    <form action="" method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                        <div class="formulario">
                            <div class="procesoRegistro">Proceso de registro!</div>
                            <input name="nombres" type="text" placeholder="Primer nombre" required class="campo" id="campo">
                            <input name="segnomb" type="text" placeholder="Segundo Nombre" required class="campo" id="campo">
                            <input name="priape" type="text" placeholder="Primer apellido" required class="campo">
                            <input name="segape" type="text" placeholder="Segundo apellido" required class="campo">
                            <input name="edad" type="text" placeholder="edad" required class="campo">
                            <input name="pais" type="text" placeholder="País" required class="campo">
                            <input name="ciudad" type="text" placeholder="Ciudad origen" required class="campo">
                            <input name="lenguaje" type="text" placeholder="lenguaje de programación" required class="campo">
                            <input name="email" type="text" placeholder="email" required class="campo">
                            <input name="pass1" type="password" placeholder="Contraseña" required id="clave" class="campo">
                            <input type="submit" value="Empezar" id="enviar">
                        </div>
                    </form>
            
            
                    <div class="cajaInicio">
                        <div class="cuenta">
                            <span class="pregunta">¿Ya tienes una cuenta?</span>
                            <a href="{% url 'gmail' %}">
                                    <input type="submit" value="Iniciar sesión" id="inic" class="iniciar">
                            </a>    
                        </div>
                    </div>
                    <div class="cajaVacia"></div>

            </div>
            <div class="cajaVacia"></div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>